SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SECRET_KEY=
NVIDIA_API_KEY=
# GEMINI_API_KEY=AIzaSyB2W1hw2MGtRmwJ9b1XERO0R1b7fyJ1VWs
GEMINI_API_KEY=
RESEND_API_KEY=
SITE_URL=
FROM_EMAIL=
APP_VERSION_CODE=
APP_VERSION_NAME=
VITE_ADMIN_EMAIL=
VITE_TELEGRAM_BOT_TOKEN=
VITE_TELEGRAM_ADMIN_CHAT_ID=
21ST_API_KEY=
